.head{
    display: flex; 
    flex-direction: column;
    box-shadow: 0 12px 20px #cfcfcf;
    background: linear-gradient(217deg, #1759b1, rgba(0,225, 255,0) 80.71%),
                 linear-gradient(127deg, rgb(1, 206, 172), rgba(19, 2, 255, 0) 70.71%),
                 linear-gradient(360deg, rgb(113, 0, 179), rgba(113, 0, 179, 0.287) 80.71%)
  
  }
     