@font-face {
   font-family: 'Roboto';
   src: url("C:/Allproject/ScienceAngularApp/src/assets/fonts/Roboto-Regular.ttf");
   font-family: 'Roboto-light';
   src: url("C:/Allproject/ScienceAngularApp/src/assets/fonts/Roboto-light.ttf");

 }

.imgDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-back{
   background: #f7f9fc;
}

.btnflex{
   display: flex;
   flex-direction: row;
}

.text{
font-family: Roboto;
 font-size: 14px;
  color: rgb(187, 187, 187);
  margin: 0; 
}


.text2{
   font-family: Roboto-light;
    font-size: 15px;
     color: rgb(187, 187, 187);
     margin: -2px 0 0 0; 
   }

   
.text3{
   font-family: Roboto;
   margin: 1px 0 0 0
   }

.text4{
font-family: Roboto;
 font-size: 15px;
  margin: 0;
  color: white; 
}


.head{
  display: flex; 
  flex-direction: column;
  box-shadow: 0 12px 20px #cfcfcf;
  background: linear-gradient(217deg, #1759b1, rgba(0,225, 255,0) 80.71%),
               linear-gradient(127deg, rgb(1, 206, 172), rgba(19, 2, 255, 0) 70.71%),
               linear-gradient(360deg, rgb(113, 0, 179), rgba(113, 0, 179, 0.287) 80.71%)

}
   