         <form class="flex-center-x-column">
            <h1> Welcome !</h1>
            <div class="form-group full-length margin-input">
              <input type="email" class="form-control form-rounded-top" aria-describedby="emailHelp" placeholder="Enter email">
              <input type="password" class="form-control form-rounded-bottom" id="passInput" placeholder="Password">
            </div>

            <a routerLink="/sign-in" class="flex-right-x">Mots de passe oublié ?</a>
          
            <ion-button type="submit" expand="full" routerLink="/tabs" routerDirection="forward" class="full-length margin-text form-rounded">Submit</ion-button>
            
            <div class="form-group flex-center-x-row margin-input">
             <p> Pas encore inscrit ?</p> <a routerLink="/sign-in" style="margin-left: 3%;">Sign in</a>
            </div>
        </form>  

  
  
        