.margin-input{
 margin-top: 2rem;
}

.margin-text{
    margin-top: 1rem;
   }

.form-rounded-top {
    border-radius: 0.4rem 0.4rem 0 0 ;
    height: 3rem;
    padding: 1rem;
    }

.form-rounded-bottom {
    border-radius: 0 0 0.4rem 0.4rem;
    height: 3rem;
    padding: 1rem;
    }

.form-rounded {
    height: 3rem;  
    }
